@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ModeSeven';
    src: url('/out/fonts/ModeSeven.eot');
    src: url('/out/fonts/ModeSeven.eot?#iefix') format('embedded-opentype'),
        url('/out/fonts/ModeSeven.woff2') format('woff2'),
        url('/out/fonts/ModeSeven.woff') format('woff'),
        url('/out/fonts/ModeSeven.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  background: black;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {  
  width: 0px;
}

input[type='checkbox']:focus + .track,
input[type='checkbox']:active + .track {
  box-shadow: 0 0 0 4px rgba(0, 231, 192, 0.2);
}
